.p-datatable .p-datatable-tbody .highlight-row {
    background-color: #ffdd57 !important; /* kuning */
    color: #333 !important;
}

.p-datatable .p-datatable-tbody .completed-row {
    background-color: #9EDF9C !important; /* hijau */
    color: white !important;
}

/* 03feb2026 */
.empty-center {
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #64748b;
    font-size: 1rem;
    text-align: center;
}
/* 03feb2026 */