/* sedang berlangsung */
.row-ongoing {
    background-color: #C7EEFF !important;
    font-weight: bold;
}

/* Warna hijau untuk baris yang sedang diingatkan */
.row-reminder {
    background-color: #d4edda !important; /* Hijau muda */
    color: #155724 !important;
    font-weight: bold;
}

/* agenda selesai - laporan BELUM diisi */
.row-laporan-belum {
    background-color: #FCDE70 !important; /* kuning */
    color: #856404;
    font-weight: bold;
}

/* agenda selesai - laporan SUDAH diisi */
.row-laporan-sudah {
    background-color: #C0EBA6 !important; /* hijau */
    color: #065f46;
    font-weight: bold;
}